<div class="navigation-explore uk-position-bottom{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
    <div class="uk-flex uk-flex-between uk-padding-small uk-padding-remove-right uk-padding-remove-left" uk-toggle="target: #explore">
      <span class="title">{{page.component.title}}</span>
      <span class="version">{{page.version}}</span>
    </div>
  {{/if}}
  <div id="#explore" uk-offcanvas>
    <div class="uk-offcanvas-bar">
      <ul>
        {{#each site.components}}
          <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
            <span class="title">{{{./title}}}</span>

            <ul class="versions">
              {{#each ./versions}}
                <li class="version
                  {{~#if (and (eq ../this @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
                  {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
                  <a href="{{{relativize @root.page.url ./url}}}">{{./version}}</a>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
