{{#if navigation.length}}
  <ul class="uk-nav-sub">
    {{#each navigation}}
      <li class="{{#if (eq @root.page.url ./url)}} uk-active{{/if}}" data-depth="{{or ../level 0}}">
        {{#if ./content}}
          {{#if ./url}}
            <a class="nav-link" href="
              {{~#if (eq ./urlType 'internal')}}{{{relativize @root.page.url ./url}}}
              {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
          {{else}}
            <span class="nav-text">{{{./content}}}</span>
          {{/if}}
        {{/if}}
        {{> navigation-tree navigation=./items level=(increment ../level)}}
      </li>
    {{/each}}
  </ul>
{{/if}}
