<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head defaultPageTitle='Untitled'}}
    {{#unless (eq page.attributes.noindex undefined)}}
    <meta name="robots" content="noindex,nofollow">
    {{/unless}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    {{#if (or antoraVersion site.antoraVersion)}}
    <meta name="generator" content="Antora {{or antoraVersion site.antoraVersion}}">
    {{/if}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/site.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.svg">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="black">
    <meta name="msapplication-TileColor" content="#001840">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
    {{> header}}
    {{> body}}
    {{> footer}}
  </body>
</html>
